.container{
    width: 100%;
    background: var(--color-bg-alt  );
}

.portada{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: 50% 20%;
}

.titulo{
    position: absolute;
    top: 25%;
    left: 27%;
    transform: translate(-50%,-25%);
    text-shadow: 2px 2px 4px #181818;
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    color: var(--text)
}
.frase{
    font-size: 6rem;
}
.logo{
    width: 20%;
    position: absolute;
    top: 3%;
    left: 10%;
    transform: translate(-30%,-30%);
    
}